/*==Reset CSS==*/
* {
    margin: 0;
    padding: 0;
}

/*==Style cơ bản cho website==*/
body {
    font-family: sans-serif;
    color: #333;
}

/*==Style cho menu===*/
#menu ul {
    background: #1F568B;
    list-style-type: none;
    text-align: center;
}

#menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}

    #menu a:hover {
        background: #F1F1F1;
        color: #333;
    }

/*==Dropdown Menu==*/
.sub-menu li {
    display: none;
}

#menu li {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
}

#menu li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    margin-left: 0 !important;
}

/* From Create*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.create {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#create {
    display: none;
}