@media only screen and ( max-width: 200em ) /* >1000 */
{
.menu_an{
  display:none; 
}
}
@media only screen and ( max-width: 40em ) /* 640 */
{
#menu{
    display:none;
}
html{
        font-size: 75%; /* 12 */
}
a > img{
    width:inherit;
    height:inherit;
}
.col-md-2{
    display:none;
}
a:hover{
    background-color:aqua;
}
.menu_an{
    margin-left:5px;
    background-color:silver;
    display:block;
}
#numbertest ul li a {
    margin-top:5px; 
    padding: 3px;
     margin-right: 3px;
     margin-bottom: 3px;
     background: linear-gradient(aquamarine,#0094ff);
     display: block;
     float: left;
}
.baitest{
    width:100%;
    height:300px;
    margin-top:1%;
    margin-left:1%;
}
.dapan_radio{
    padding-top:35px;
}
}